aip_builder/schemas/mets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.loc.gov/METS/"
           xmlns="http://www.loc.gov/METS/"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:element name="mets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metsHdr" minOccurs="1" maxOccurs="1"/>
        <xs:element name="dmdSec" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="amdSec" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="fileSec" minOccurs="0" maxOccurs="1"/>
        <xs:element name="structMap" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="PROFILE" type="xs:string"/>
      <xs:attribute name="TYPE" type="xs:string"/>
      <xs:attribute name="OBJID" type="xs:string"/>
      <xs:attribute name="LABEL" type="xs:string"/>
      <xs:attribute name="xsi:schemaLocation" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <!-- ...other element definitions for metsHdr, agent, dmdSec, amdSec, fileSec, fileGrp, file, Flocat, structMap, div, fptr... -->
</xs:schema>
